@model IEnumerable<WebShopIdentity.Country>

@{
    ViewData["Title"] = "CountryList";
}

<h1>CountryList</h1>

<p>
    <a asp-action="CreateCountry">Create New</a>
</p>

@*<div class="form-group">
    <label class="control-label">country</label>
    <select id=" Id" class="form-control" asp-items="@(new SelectList(ViewBag.Country,"Id","CountryName"))"></select>
</div>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                <a asp-action="EditCountry" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="CreateCity" asp-route-id="@item.Id">CreateCity</a> |
                <a asp-action="DeleteCountry" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
